
html, body {
  margin: 0;
  padding: 0;
}

#wrapper {
  left:0;
  width: 50%;
  height: 100%;
  position:fixed;
}

#toolbar {
    height: 15%;
}

#menu {
  position:fixed;
  right:0;
  width: 50%;
  height: 100%;
}

#editor {
  position: absolute;
  width: 100%;
  height: 100%;
}

#response {
    margin-right: 5px;
    width: 100%;
    height: 85%;
    overflow: auto;
    background-color: #EEE;
    border: 0;
    border-top: 1px solid #CCC;
    box-shadow: inset 0px 10px 30px #DDD;
    font-family: monospace;
}
