<!DOCTYPE html>
<html>
    <head>
        <title>Oyster</title>
        <link rel="stylesheet" href="/static/style.css" media="all" />
        <script
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
            type="text/javascript">
        </script>
        <script src="/static/ace/ace.js" type='text/javascript'></script>
        <script src="/static/jquery.ev.js" type='text/javascript'></script>
        <script type='text/javascript'>

            var editor, UUID;

            window.onload = function () {
                editor = ace.edit("editor");
            };

            var getContents = function() {
                return document.getElementById("editor").env.document.getValue();
            };

            var postHandler = function(data) {
                // begin the loop
                UUID = data[0].uuid;

                $.ev.loop('/recv/'+UUID, {
                    response: function(ev) {
                        console.log(ev);
                        $("#response").text($("#response").text() +
                            ev.response);
                    },
                });
            };

            $(document).ready(function() {
                $('#run').click(function() {
                    $.post("/start",{code: getContents()},postHandler);
                });

                $('#send').click(function() {
                    $.post("/send/"+UUID,{input:$("#theInput").val()},function(d) {
                    });
                });

            });
        </script>
    </head>
    <body>
        <div id='menu'>
            <ul>
                <li><a href="#" id="run">Run</a></li>
                <li><input type='text' name='theInput' id='theInput' /><a
                    href="#" id="send">Send input</a></li>
                <li><textarea name='response' id='response'></textarea></li>
            </ul>
        </div>
        <div id='wrapper'>
            <div id='editor'></div>
        </div>
    </body>
</html>
