<!DOCTYPE html>
<html>
    <head>
        <title>Oyster</title>
        <link rel="stylesheet" href="/static/style.css" media="all" />
        <script
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
            type="text/javascript">
        </script>
        <script
            src="/socket.io/socket.io.js"
            type="text/javascript">
        </script>
        <script src="/static/ace/ace.js" type='text/javascript'></script>
        <script src="/static/ace/theme-monokai.js"
            type='text/javascript'></script>
        <script src="/static/ace/mode-perl.js" type='text/javascript'></script>
        <script src="/static/jquery.ev.js" type='text/javascript'></script>
        <script src="/static/script.js" type='text/javascript'></script>
    </head>
    <body><div id='main'>
        <div id='menu'>
        <div id='toolbar'>
            <div id='runwrap'>
                <button id='run'>Run</button>
            </div>
        </div>

        <div id='console'>
            <span id='response'></span><input name='input-buffer' id='input-buffer'></input>
        </div>
        </div>
        <div id='wrapper'>
            <div id='editor'></div>
        </div>
    </div></body>
</html>
